<style>
    h2 {
      font-size: 2rem;
    }
    p, h3, h4 {
      font-size: 1.2rem;
    }

       h3{
      font-size: 1.5rem;
    }
    .card-title {
      font-size: 1.25rem;
    }
    .card-text {
      font-size: 1.2rem;
    }
  </style>
<%=render 'shared/menu_bar'%>

<div class="container mt-5">
  <div class="text-center mb-4">
    <h2>About Us</h2>
    <p>Welcome to the College of Science (COS) Student Support page at Kwame Nkrumah University of Science and Technology (KNUST), Kumasi. Our mission is to provide comprehensive support to all students within the College of Science, ensuring that your academic journey is as smooth and successful as possible.</p>
  </div>

  <div class="mb-4">
    <h3>Who We Are</h3>
    <p>At COS Student Support, we understand that university life can come with its challenges, whether they be academic, personal, or resource-related. Our dedicated team is here to assist you with a range of services designed to help you overcome these challenges and thrive during your time at KNUST.</p>
  </div>

  <div>
    <h3>Our Services</h3>
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Make Schedule</h4>
        <p class="card-text">Book counseling sessions to discuss academic or resource-related issues at your convenience. Our team of experienced counselors is ready to provide guidance and support tailored to your specific needs.</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Start Discussion</h4>
        <p class="card-text">Engage in live discussions and forums where you can share your teaching or curriculum concerns. These discussions are facilitated by experts and peers who are committed to improving the learning experience for all students.</p>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Get Sorted Out</h4>
        <p class="card-text">Submit any complaints or queries you have, and our team will work diligently to address and resolve your concerns. Whether it's a minor issue or a significant challenge, we are here to help you find a solution.</p>
      </div>
    </div>
  </div>
</div>

<%= render partial: "shared/footer" %>

