<div id="<%= dom_id appointment %>">
  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= appointment.student_id %>
  </p>

  <p>
    <strong>Counselor:</strong>
    <%= appointment.counselor_id %>
  </p>

</div>
